{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" action="/">
    Bild:<br>{% if has_image %}<img src="{{ img_url }}"><br>{% endif %}<input type="file" name="image" accept="image/webp, image/jpeg, image/png" /><br>
    Titel:<br> <input name="title" value="{{r.title|e}}" /><br>
    Tags (Kommaseparierte Liste):<br> <input name="tags" value="{{r.tags|e}}"/><br>
    Zutaten:<br> <textarea name="ingredients" rows="5" cols="33">{{r.ingredients|e}}</textarea><br>
    Zubereitung:<br> <textarea name="prep" rows="5" cols="33">{{r.prep|e}}</textarea><br><br>
    {% if authenticated %}
    <input name="pass" value="" type="hidden"/><br>
    {% else %}
    Passphrase:<br> <input name="pass"/><br>
    {%endif%}
    <input type="hidden" name="id" value="{{r.id|e}}"/><br>
    <div class="del" style="display:none">Zum Löschen, Rezepttitel eingeben:<br><input id="del-title" name="del-title" value="" onkeyup="document.getElementById('del-submit').innerHTML = document.getElementById('del-title').value!='' ? 'Löschen' : 'Abschicken'"/></div><br>
    <div style="display:flex; gap:10px;">
        <button  id="del-submit" type="submit">Abschicken</button>
        <button class="del" type="button" onclick="for (let e of document.getElementsByClassName('del')) {e.style.display = e.style.display=='none' ? 'block' : 'none'}">Löschen</button>
    </div>
</form>
*all recipes are released in the public domain and can be used freely
<br>
{% endblock %}